body {
    font-family: 'Arial', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
    /*border-bottom: 1px solid #2F2F2F;*/
    background-color: rgba(0, 0, 0, 0.05)
}

.profile .back-arrow {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 15px;
    background-color: #1DA1F2;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.chat-left{
    margin-left: auto;
    margin-right: 10px;
    padding: 10px 15px;
    background-color: #1DA1F2;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    float: right;
}

.chat-profile{
    margin-top: 3.3px;
    justify-content: center;
    align-items: center;
}

.profile .room-name {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

.profile .people-count {
    font-size: 0.8em;
    color: #757575;
    margin-left: auto;
}

.chat-container{
    display: flex;
    flex-direction: column;
    height: 93vh;
}


.messages {
    padding: 10px;
    overflow-y: auto;
    margin-bottom: 50px;
}

.message {
    background-color: #1DA1F2;
    padding: 10px;
    border-radius: 20px 20px 0 20px;
    margin-bottom: 10px;
    min-width: 10px;
    max-width: 300px;
    min-height: 50px;
    max-height: 600px;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: column
}

.message .timestamp {
    font-size: 0.8em;
    color: white;
    text-align: right;
}

.another_message{
    background-color: rgba(0,0,0,0.4);
    padding: 10px;
    border-radius: 20px 20px 20px 0;
    margin-bottom: 10px;
    min-width: 10px;
    max-width: 300px;
    min-height: 50px;
    max-height: 400px;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: column
}

.another_message .timestamp{
    font-size: 0.8em;
    color: white;
    text-align: right;
}

.my-message{
    background-color: #1DA1F2;
    padding: 10px;
    border-radius: 20px 20px 0 20px;
    margin-bottom: 10px;
    min-width: 10px;
    max-width: 300px;
    min-height: 50px;
    max-height: 400px;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.my-message .timestamp{
    font-size: 0.8em;
    color: white;
    text-align: right;
}

.input-container {
    display: flex;
    position: fixed; /* 고정 위치 설정 */
    bottom: 0; /* 하단에 배치 */
    width: 100%; /* 화면 너비에 맞춤 */
    padding: 10px;
    /*border-top: 1px solid #2F2F2F;*/
    background-color: rgba(0, 0, 0, 0.1); /* 배경색 지정 */
}

.input-container input {
    flex: 1;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 20px;
    color: black;
}

.input-container button.send {
    margin-left: 10px;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: #1DA1F2;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}


/* The Modal (background) */
#myModal, #myModal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /*div.sidebar 가 z-index: 9로 설정되어 있어서 모달창 z-index는 10으로 설정*/
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 100px;
}

/* Modal Content/Box */
/*모달창 css*/
#modalContentBox, #modalContentBox2 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.submitBtn{
    padding-top: 8px;
    height: 8vh;
}

/* The Close Button */
.modal-content .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-content2 .close2{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* The buttons */
#closeBtn, #saveBtn, #closeBtn2, #saveBtn2 {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    float: right;
}

#closeBtn, #closeBtn2 {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

#closeBtn:hover ,#closeBtn2:hover {
    background-color: #f44336;
    color: white;
}

#saveBtn, #saveBtn2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

#saveBtn:hover, #saveBtn2:hover {
    background-color: #008CBA;
    color: white;
}

.no-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
/*모달창 css 끝*/

/*채팅방 헤더의 people 클릭시, 참여자들을 나타내는 모달 css*/
#participantsList {
    position: absolute;
    background: white;
    color: black;
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    left: 80px; /* 왼쪽 공백 위치 조절 */
    top: 58px; /* 위쪽 공백 위치조절 */
    width: 60px;
    border: solid black;
}

#participant-ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.participant-li{
    display: block;
    list-style-type: none;
}

body.prev_loading {
    /*overflow:hidden;*/
}

.loading{
    width: 100%;
    height: 100vh;
    /*background-color: rgba(0,0,0,0.5);*/
    /*background: rgba(255,255,255,0.95);*/
    display:none;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 9999;
}

#spinner{
    position:absolute;
}

.loading span {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: gray;
    border-radius: 50%;
    animation: loading 1s 0s linear infinite;
    margin-right: 5px;
}

.loading span:nth-child(1) { animation-delay: 0s;  background-color: red;}
.loading span:nth-child(2) { animation-delay: 0.2s; background-color: orange;}
.loading span:nth-child(3) { animation-delay: 0.4s; background-color: yellowgreen;}

@keyframes loading {
    0%,
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
}
