<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messaging App</title>
    <link rel="stylesheet" href="/css/chat.css">
</head>

<body>
<header>
    <div class="profile">
        <div class="back-arrow"></div>
        <div class="friend-name">조승빈</div>
        <div class="tweets-count">2 People</div>
    </div>
</header>


<section class="messages" id="chatRoom">
    <!-- test message -->
    <div class="message">
        <div class="content">안녕하세요. 박규원이라고 합니다. 취미가 동일한 룸메이트를 찾고있습니다!</div>
        <div class="timestamp">Mar 19, 2024, 8:15 PM</div>
    </div>
    <div class="another_message">
        <div class="content">반갑습니다. 조승빈이라고 합니다. 넷플릭스 보는 것을 좋아합니다!</div>
        <div class="timestamp">Mar 19, 2024, 8:16 PM</div>
    </div>


</section>

<footer>
    <input type="text" placeholder="Start a new message" id="messageInput">
    <button class="send" onclick="sendMessage()">Send</button>
</footer>


<script type="text/javascript" src="/js/chat.js"></script>

</body>


</html>
