<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>soulmate</title>
    <link rel="stylesheet" href="/css/chat.css">
    <link href="/images/icon.ico" rel="icon">
</head>

<body class="prev_loading">

<div id="loading" class="loading">
    <div id="spinner" style="top:446.8px; left:930px">
        <!-- 로딩 점 보일 span -->
        <span></span><span></span><span></span>
    </div>
</div>

<header>
    <div class="profile" style="display: flex">
        <div class="back-arrow" onclick="hisBack()">Back</div>
        <div class="chat-profile">
            <div class="room-name" id="room-name"></div>
            <div class="people-count" id="people-count" onclick="showParticipantsList()"></div>
        </div>
    </div>
    <div class="chat-left" id="LeftBtn">Left</div>
</header>

<div>
    <div id="participantsList" style="display: none;">
        <ul id="participant-ul">

        </ul>
    </div>
</div>


<section class="messages" id="chatRoom">
<!--채팅 메세지들이 동적으로 들어가는 공간-->
</section>

<footer>
    <button class="send" onclick="ChatAnalyze()">AI 채팅분석</button>
    <input type="text" placeholder="Start a new message" id="messageInput">
    <button class="send" onclick="sendMessage()">Send</button>
</footer>


<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content" id="modalContentBox">
        <div>
            <span class="close" id="closeXbtn">&times;</span>
        </div>
        <h3 style="color: black;">채팅방 나가기</h3>
        <span style="color:black;">채팅방에서 나가면 대화내역이 모두 사라집니다. </span>
        <br>
        <span style="color:black;">정말로 나가시겠습니까?</span>
        <div class="submitBtn">
            <input type="submit" id="closeBtn" value="NO"></input>
            <input type="submit" id="saveBtn" value="YES" onclick="ChatRoomLeft()"></input>
        </div>
    </div>
</div>

<div id="myModal2" class="modal2">
    <!-- Modal content -->
    <div class="modal-content2" id="modalContentBox2">
        <div>
            <span class="close2" id="closeXbtn2">&times;</span>
        </div>
        <h3 style="color: black;">AI 채팅분석 결과</h3>
        <span style="color: black;" id="analyze-result"> </span>
        <br>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript" src="/js/chat.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</body>


</html>
