<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>soulmate</title>
  <link href="/Image/icon.ico" rel="icon">
  <link rel="stylesheet" href="/css/keywordSelect.css">
</head>
<body>
<div class="overlay">
  <div class="modal">
    <h2>요즘 나에게 취향 저격하는 키워드를 수정해보세요!</h2>
    <p>나를 나타내는 관심사, 이제 프로필에 공유해 보세요. <br> (최소 3가지, 최대 10가지를 선택해주세요)</p>
    <div class="topics-container">
      <!-- 예시 주제 -->
      <div class="topic">야행성</div>
      <div class="topic">아침형</div>
      <!-- 추가 주제 -->
    </div>
    <div class="topics-container">
      <!-- 예시 주제 -->
      <div class="topic">방에서 공부</div>
      <div class="topic">도서관에서 공부</div>
      <div class="topic">음악을 들으면서 공부</div>
      <div class="topic">혼자 조용히 공부</div>
      <!-- 추가 주제 -->
    </div>
    <div class="topics-container">
      <!-- 예시 주제 -->
      <div class="topic">특정 알레르기</div>
      <div class="topic">청소는 그때그때</div>
      <div class="topic">청소는 중간에</div>
      <div class="topic">청소는 한번에</div>
      <!-- 추가 주제 -->
    </div>
    <div class="topics-container">
      <div class="topic">코골이 X</div>
      <div class="topic">이갈이 X</div>
      <div class="topic">잠꼬대 X</div>
      <div class="topic">흡연</div>
      <div class="topic">비흡연</div>
    </div>
    <div class="topics-container">
      <div class="topic">냄새에 민감</div>
      <div class="topic">냄새에 민감X</div>
      <div class="topic">음주 자주안함</div>
      <div class="topic">음주 적당히함</div>
      <div class="topic">음주 많이함</div>
    </div>
    <div class="topics-container">
      <div class="topic">게임 안함</div>
      <div class="topic">친구 초대안함</div>
      <div class="topic">방에서 통화안함</div>
      <div class="topic">밖에 자주나감</div>
      <div class="topic">본가에 자주감</div>
    </div>
    <button class="submit-btn">수정하기 (0/10)</button>
  </div>
</div>

<script src="/js/keywordEdit.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>
